
@{
    ViewBag.Title = "Home_DashBoard";
    Layout = "~/Views/Shared/DashBoardLayout.cshtml";
}




<div style="display:flex ; justify-content:center;align-items:center; height:500px; font-size:40px">

        <p>Welcome to CinemaHub: <br><span>Admin : anton</span></p>

</div>

