@{
    ViewBag.Title = "Home Page";
}


@*<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>*@




<div class="MainContainer">
    <div class="Home">

        
    


    
        <section style="background-color:#000000;">
            <div class="container">
                <div class="row" ><span style="color:  #4b505e ; padding: 8px; font-size: 20px;">Pobular on CinemaHub</span></div>
    
                <div class="row" style="height: 400px; background-color: black;">
    
                    <div class="col-1" style="background-color:black ; display: flex; justify-content: center; align-items: center;">
                        <button id="Movise_1_Left" class="LeftBtn" style="background-color:transparent; outline: none; border: none; "><i class="LeftArrow fa-solid fa-angle-left" style=" height: 40px;"></i></button>
                    </div>
    
    
                    <div class="col-10" style="overflow: hidden;">
                        <div class="row Movise_1_Slider" style=" height: 400px; width:1500px;">
    
                            <div class="col-2" style="display: flex; justify-content: center; align-items: center;" >
                                <div class="card " style="position: relative;" >
                                    <div class="ShadowFilm " > 
                                        <span class="BluRay">Blu-ray</span>
                                        <i class="fa-solid fa-circle-play play1" style="color: #fc9603; width: 100px; height: 100px; display: block;"></i><a style="color: #fc9603; text-decoration: none; ">Play Now</a>  
                                        
                                
                                    </div>
                                    <img class="img1" src="~/Films/Sadistic.jpg" alt="" width="100%" height="337px">
                                </div>
                            </div>
    
                            <div class="col-2" style="display: flex; justify-content: center; align-items: center;" >
                                <div class="card" >
                                    <div class="ShadowFilm" >
                                        <span class="BluRay">Blu-ray</span>
                                        <i class="fa-solid fa-circle-play test" style="color: #fc9603; width: 100px; height: 100px; display: block;"></i><a style="color: #fc9603; text-decoration: none; ">Play Now</a>  
                                    
                                    
                                    </div>
                                    <img src="~/film2.jpg" alt="" width="100%" height="337px">
                                </div>
                            </div>
                            <div class="col-2" style="display: flex; justify-content: center; align-items: center;" >
                                <div class="card" >
                                    <div class="ShadowFilm" >
                                        <span class="BluRay">Blu-ray</span>
                                        <i class="fa-solid fa-circle-play" style="color: #fc9603; width: 100px; height: 100px; display: block;"></i><a style="color: #fc9603; text-decoration: none; ">Play Now</a>  </div>
                                    <img src="~/Films/Carnifex.jpg" alt="" width="100%" height="337px">
                                </div>
                            </div>
                            <div class="col-2" style="display: flex; justify-content: center; align-items: center;" >
                                <div class="card" >
                                    <div class="ShadowFilm" >
                                        <span class="BluRay">Blu-ray</span>
                                        <i class="fa-solid fa-circle-play" style="color: #fc9603; width: 100px; height: 100px; display: block;" ></i><a style="color: #fc9603; text-decoration: none; ">Play Now</a>  </div>
                                    <img src="~/film4.jpg" alt="" width="100%" height="337px">
                                </div>
                            </div>
                            <div class="col-2" style="display: flex; justify-content: center; align-items: center;" >
                                <div class="card" >
                                    <div class="ShadowFilm" >
                                        <span class="BluRay">Blu-ray</span>
                                        <i class="fa-solid fa-circle-play" style="color: #fc9603; width: 100px; height: 100px; display: block;" ></i><a style="color: #fc9603; text-decoration: none; ">Play Now</a>  </div>
                                    <img src="~/Films/Ivana.jpg" alt="" width="100%" height="337px">
                                </div>
                            </div>
                            <div class="col-2" style="display: flex; justify-content: center; align-items: center;" >
                                <div class="card" >
                                    <div class="ShadowFilm" >
                                        <span class="BluRay">Blu-ray</span>
                                        <i class="fa-solid fa-circle-play"style="color: #fc9603; width: 100px; height: 100px; display: block;" ></i><a style="color: #fc9603; text-decoration: none; ">Play Now</a>  </div>
                                    <img src="~/0-10865.jpg" alt="" width="100%" height="337px">
                                </div>
                            </div>
                            
                            
                        </div>
    
                    </div>
    
                    <div class="col-1" style="background-color:black ; display: flex; justify-content: center; align-items: center;">
                        <button id="Movise_1_Right" class="RightBtn" style="background-color:transparent; outline: none; border: none; "><i class="RightArrow fa-solid fa-angle-right" style=" height: 40px;"></i></button>
                    </div>
                    
              
    
                </div>
    
            </div>
    
        </section>


        
                    
                <section style="background-color:#000000;">
                    <div class="container">
                        <div class="row" ><span style="color:  #4b505e ; padding: 8px; font-size: 20px; padding-left: 5%;">Top 10</span></div>
            
                        <div class="row" style="height: 400px; background-color: black;">
            
                            <div class="col-1" style="background-color:black ; display: flex; justify-content: center; align-items: center;">
                                <button id="Movise_3_Left" class="LeftBtn" style="background-color:transparent; outline: none; border: none; "><i class="LeftArrow fa-solid fa-angle-left" style="height: 40px;"></i></button>
                            </div>
            
            
                            <div class="col-10" style="overflow: hidden;">
                                <div class="row Movise_3_Slider" style=" height: 400px; width:1500px;">
            
                                    <div class="col-2" style="display: flex; justify-content: center; align-items: center;" >
                                        <div class="card" >
                                            <div class="ShadowFilm" >
                                                <span class="BluRay">Blu-ray</span>
                                                <i class="fa-solid fa-circle-play"style="color: #fc9603; width: 100px; height: 100px; display: block;" ></i><a style="color: #fc9603; text-decoration: none; ">Play Now</a>  </div>
                                            <img src="~/Films/Lullaby.jpg" alt="" width="100%" height="337px">
                                        </div>
                                    </div>
        
                                    
                                    <div class="col-2" style="display: flex; justify-content: center; align-items: center;" >
                                        <div class="card" >
                                            <div class="ShadowFilm" >
                                                <span class="BluRay">Blu-ray</span>
                                                <i class="fa-solid fa-circle-play" style="color: #fc9603; width: 100px; height: 100px; display: block;" ></i><a style="color: #fc9603; text-decoration: none; ">Play Now</a>  </div>
                                            <img src="~/Films/Encato_At_The_Hollywood_Bowl.jpg" alt="" width="100%" height="337px">
                                        </div>
                                    </div>
                                    <div class="col-2" style="display: flex; justify-content: center; align-items: center;" >
                                        <div class="card" >
                                            <div class="ShadowFilm" >
                                                <span class="BluRay">Blu-ray</span>
                                                <i class="fa-solid fa-circle-play" style="color: #fc9603; width: 100px; height: 100px; display: block;" ></i><a style="color: #fc9603; text-decoration: none; ">Play Now</a>  </div>
                                            <img src="~/Films/Mender.jpg" alt="" width="100%" height="337px">
                                        </div>
                                    </div>
                                    
                                    <div class="col-2" style="display: flex; justify-content: center; align-items: center;" >
                                        <div class="card" >
                                            <div class="ShadowFilm" >
                                                <span class="BluRay">Blu-ray</span>
                                                <i class="fa-solid fa-circle-play" style="color: #fc9603; width: 100px; height: 100px; display: block;"></i><a style="color: #fc9603; text-decoration: none; ">Play Now</a>  </div>
                                            <img src="~/Films/2067.jpg" alt="" width="100%" height="337px">
                                        </div>
                                    </div>
                                    
                                    <div class="col-2" style="display: flex; justify-content: center; align-items: center;" >
                                        <div class="card " style="position: relative;" >
                                            <div class="ShadowFilm">
                                                <span class="BluRay">Blu-ray</span>
                                                <i class="fa-solid fa-circle-play play1" style="color: #fc9603; width: 100px; height: 100px; display: block;"></i><a style="color: #fc9603; text-decoration: none; ">Play Now</a>  </div>
                                            <img class="img1" src="~/Films/Night_Train.jpg" alt="" width="100%" height="337px">
                                        </div>
                                    </div>
            
                                    <div class="col-2" style="display: flex; justify-content: center; align-items: center;" >
                                        <div class="card" >
                                            <div class="ShadowFilm" >
                                                <span class="BluRay">Blu-ray</span>
                                                <i class="fa-solid fa-circle-play test" style="color: #fc9603; width: 100px; height: 100px; display: block;"></i><a style="color: #fc9603; text-decoration: none; ">Play Now</a>  </div>
                                            <img src="~/Films/Sonic2.jpg" alt="" width="100%" height="337px">
                                        </div>
                                    </div>
                                    
                                </div>
            
                            </div>
            
                            <div class="col-1" style="background-color:black ; display: flex; justify-content: center; align-items: center;">
                                <button id="Movise_3_Right" class="RightBtn" style="background-color:transparent; outline: none; border: none; "><i class="RightArrow fa-solid fa-angle-right" style=" height: 40px;"></i></button>
                            </div>
                            
            
                        </div>
            
                    </div>
            
                </section>
        






        
    
        <section style="background-color:#000000;">
            <div class="container">
                <div class="row" ><span style="color:  #4b505e ; padding: 8px; font-size: 20px; padding-left: 5%;">Recommended</span></div>
    
                <div class="row" style="height: 400px; background-color: black;">
    
                    <div class="col-1" style="background-color:black ; display: flex; justify-content: center; align-items: center;">
                        <button id="Movise_2_Left" class="LeftBtn" style="background-color:transparent; outline: none; border: none; "><i class="LeftArrow fa-solid fa-angle-left" style=" height: 40px;"></i></button>
                    </div>    
    
    
                    <div class="col-10" style="overflow: hidden;">
                        <div class="row Movise_2_Slider" style=" height: 400px; width:1500px;">
    
                            <div class="col-2" style="display: flex; justify-content: center; align-items: center;" >
                                <div class="card" >
                                    <div class="ShadowFilm" >
                                        <span class="BluRay">Blu-ray</span>
                                        <i class="fa-solid fa-circle-play"style="color: #fc9603; width: 100px; height: 100px; display: block;" ></i><a style="color: #fc9603; text-decoration: none; ">Play Now</a>  </div>
                                    <img src="~/0-10865.jpg" alt="" width="100%" height="337px">
                                </div>    
                            </div>    

                            
                            <div class="col-2" style="display: flex; justify-content: center; align-items: center;" >
                                <div class="card" >
                                    <div class="ShadowFilm" >
                                        <span class="BluRay">Blu-ray</span>
                                        <i class="fa-solid fa-circle-play" style="color: #fc9603; width: 100px; height: 100px; display: block;" ></i><a style="color: #fc9603; text-decoration: none; ">Play Now</a>  </div>
                                    <img src="~/075-2763.jpg" alt="" width="100%" height="337px">
                                </div>    
                            </div>    
                            <div class="col-2" style="display: flex; justify-content: center; align-items: center;" >
                                <div class="card" >
                                    <div class="ShadowFilm" >
                                        <span class="BluRay">Blu-ray</span>
                                        <i class="fa-solid fa-circle-play" style="color: #fc9603; width: 100px; height: 100px; display: block;" ></i><a style="color: #fc9603; text-decoration: none; ">Play Now</a>  </div>
                                    <img src="~/film4.jpg" alt="" width="100%" height="337px">
                                </div>    
                            </div>    
                            
                            <div class="col-2" style="display: flex; justify-content: center; align-items: center;" >
                                <div class="card" >
                                    <div class="ShadowFilm" >
                                        <span class="BluRay">Blu-ray</span>
                                        <i class="fa-solid fa-circle-play" style="color: #fc9603; width: 100px; height: 100px; display: block;"></i><a style="color: #fc9603; text-decoration: none; ">Play Now</a>  </div>
                                    <img src="~/film3.jpg" alt="" width="100%" height="337px">
                                </div>    
                            </div>    
                            
                            <div class="col-2" style="display: flex; justify-content: center; align-items: center;" >
                                <div class="card " style="position: relative;" >
                                    <div class="ShadowFilm">
                                        <span class="BluRay">Blu-ray</span>
                                        <i class="fa-solid fa-circle-play play1" style="color: #fc9603; width: 100px; height: 100px; display: block;"></i><a style="color: #fc9603; text-decoration: none; ">Play Now</a>  </div>
                                    <img class="img1" src="~/film-1.jpg" alt="" width="100%" height="337px">
                                </div>    
                            </div>    
    
                            <div class="col-2" style="display: flex; justify-content: center; align-items: center;" >
                                <div class="card" >
                                    <div class="ShadowFilm" >
                                        <span class="BluRay">Blu-ray</span>
                                        <i class="fa-solid fa-circle-play test" style="color: #fc9603; width: 100px; height: 100px; display: block;"></i><a style="color: #fc9603; text-decoration: none; ">Play Now</a>  </div>
                                    <img src="~/film2.jpg" alt="" width="100%" height="337px">
                                </div>    
                            </div>    
                            
                        </div>    
    
                    </div>    
    
                    <div class="col-1" style="background-color:black ; display: flex; justify-content: center; align-items: center;">
                        <button id="Movise_2_Right" class="RightBtn" style="background-color:transparent; outline: none; border: none; "><i class="RightArrow fa-solid fa-angle-right" style=" height: 40px;"></i></button>
                    </div>    
                    
              
                    
                </div>        
                
            </div>        
            
        </section>    




        



    

    </div>

    <style>
        .ShadowFilm{
            transition:all 0.3s;
        }
    </style>